<h1>Chat room</h1>

<div class="messages">
	<%= render @messages %>
</div>

<%= form_with model: @message do |form| %>
	<span class="input">
		<%= form.text_field :content, :required => true %>
	</span>
	<span class="submit">
		<%= form.submit "Send", data: { disable_with: false } %>
	</span>
<% end %>